/* Conteneur principal centré */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg") no-repeat center center fixed;
        color: #333;
    }

.terms-wrapper { 
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.842); /* 0.5 est l'opacité, ajustez selon le besoin */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #007bff;
}

section h2 {
    color: #0056b3;
    margin-top: 20px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Style du bouton "Back to Registration" */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Couleur du texte */
    font-size: 16px;
    text-decoration: none; /* Retire le soulignement */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Couleur bleue foncée au survol */
  }
  